h1{
    margin-left: 70px;
    margin-top: 30px;
}
#first{
    text-decoration:none;
    color: #003366;
}
.info{
    border-bottom-color:#ddd;
    border-right-color:#ddd;
}
li{
    list-style:none;
}
a:visited {color:#003333;}
.menu_list a {


text-decoration:none;
}
table .a_style a{
    text-decoration:none;
}
.menu_list li:hover{
    border-right: solid 1px black;
}
